#lab_social_icon_footer {
  padding: 40px 0;
  
  /*position: fixed;*/
  left: 0;
  bottom: 0;
  width: 100%;
}

#lab_social_icon_footer a {
  color: #333;
}

#lab_social_icon_footer .social:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}

#lab_social_icon_footer .social {
  -webkit-transform: scale(0.8);
  /* Browser Variations: */
  
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}

#lab_social_icon_footer #social-fb:hover {
  color: #3B5998;
}

#lab_social_icon_footer #social-tw:hover {
  color: #4099FF;
}

#lab_social_icon_footer #social-gp:hover {
  color: #d34836;
}

#lab_social_icon_footer #social-em:hover {
  color: #8B0A50;
}

.whov:hover { background-color: #8B0A50; }
.view {
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 500px
  padding: 60px;
  margin-top: 75px;
}
.secondbase {
  background-color: rgba(255,255,255,.6); 
  margin-top: -90px;
}

#contact {
  width: 100%;
  background-color: #111;
  overflow: hidden;
  padding-bottom: 10px;
}

.section-header {
  text-align: center;
  margin: 0 auto;
  padding-top: 50px;
  margin-bottom: 50px;
  font: 300 60px 'Oswald', sans-serif;
  letter-spacing: 6px;
  color: #fff;
  margin-bottom: 25px;
}

.contact-wrapper {
  margin: 0 auto;
  padding-top: 20px;
  position: relative;
  max-width: 800px;
}

.form-horizontal {
  float: left;
  max-width: 400px;
  font-family: 'Lato';
  font-weight: 400;
}

.form-control, textarea {
  max-width: 400px;
  background-color: #111;
  color: #fff;
  letter-spacing: 1px;
}

.send-button {
  margin-top: 15px;
  height: 34px;
  width: 400px;
  overflow: hidden;
  transition: all .2s ease-in-out;
}

.button {
  width: 400px;
  height: 34px;
  transition: all .2s ease-in-out;
}

.send-text {
  display: block;
  margin-top: 10px;
  font: 300 14px 'Lato', sans-serif;
  letter-spacing: 2px;
}

.button:hover {
  transform: translate3d(0px, -29px, 0px);
}

/* Begin Right Contact Page */
.direct-contact-container {
  max-width: 400px;
  float: right;
  margin-top: 5px;
}

/* Location, Phone, Email Section */
.contact-list {
  list-style-type: none;
  margin-left: -30px;
  padding-right: 20px;
}

.list-item {
  line-height: 4;
  color: #aaa;
}

.contact-text {
  font: 300 18px 'Lato', sans-serif;
  letter-spacing: 1.9px;
  color: #bbb;
}

.place {
  margin-left: 62px;
}

.phone {
  margin-left: 56px;
}

.gmail {
  margin-left: 50px;
  font-size: 20px;
}

.contact-text a {
  color: #bbb;
  text-decoration: none;
  transition-duration: 0.2s;
}

.contact-text a:hover {
  color: #fff;
  text-decoration: none;
}

.social-media-list {
  position: relative;
  font-size: 2.3rem;
  text-align: center;
  width: 100%;
}

.social-media-list li a {
  color: #fff;
}

.social-media-list li {
  position: relative; 
  top: 0;
  left: -20px;
  display: inline-block;
  height: 70px;
  width: 70px;
  margin: 10px auto;
  line-height: 70px;
  border-radius: 50%;
  color: #fff;
  background-color: rgb(27,27,27);
  cursor: pointer; 
  transition: all .2s ease-in-out;
}

.social-media-list li:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 70px;
  line-height: 70px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 0 1px #fff;
  transition: all .2s ease-in-out;
}

.social-media-list li:hover {
  background-color: #fff; 
}

.social-media-list li:hover:after {
  opacity: 1;  
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
}

.social-media-list li:hover a {
  color: #111;
}

.copyright {
  font: 200 14px 'Oswald', sans-serif;
  color: #555;
  letter-spacing: 1px;
  text-align: center;
}

hr {
  border-color: rgba(255,255,255,.8); ;
}

.imagem-logo {
  background-repeat: repeat;
  top: 0;
  position: absolute;
  right: 0;
}

.borderimg1 {
  border: 10px solid transparent;
  padding: 15px;
  border-image: 20 round;
  left:50%;
  top:50%;
}

.borderimg2 {
  border: 10px solid transparent;
  padding: 15px;
  border-image: 20% round;
}

.borderimg3 {
  border: 10px solid transparent;
  padding: 15px;
  border-image: 30%;
}

.titleimg {
  padding: 15px;
}

.slider {
  display: block;
  height: 293px;
  width: 600px;
  margin: auto;
  margin-top: 20px;
  position: relative;
}

.slider li {
  list-style: none;
  position: absolute;
}

.slider img {
  margin-top: auto;
  height: 100%;
  width: 100%;
  vertical-align: top;
}

.slider input {
  display: none;
}

.slide label {
  background-color: #000;
  bottom: 10px;
  cursor: pointer;
  display: block;
  height: 10px;
  position: absolute;
  width: 10px;
  z-index: 10;
}

.slide li:nth-child(1) label {
  left: 10px;
}

.slide li:nth-child(2) label {
  left: 40px;
}

.slide li:nth-child(3) label {
  left: 70px;
}

.slide img {
  opacity: 0;
  visibility: hidden;
}

.slide li input:checked ~ img {
  opacity: 1;
  visibility: visible;
  z-index: 10;
}

.texto {
  font-size: 20px;
  font-family: "Verdana";
  text-align: justify;
  margin-top: 10px;
}

.divtexto {
  margin-bottom: 20px;
  margin-top: 10px;
  margin-right: 40px;
  margin-left: 40px;
}

.h2title {
  color: #622A2A;
  font-family: verdana;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 2px;
  margin-left: 20px;
  margin-right: 40px;
  border-top: 4px solid #F78181;
}


.texto-about {
  background-repeat: repeat;
    padding: 10PX; 
  color: #8B4513;
  font-weight: bold;
}

h1.nav-title {
  font-size: 60px;
  font-weight: bold;
  text-shadow: 0 0 8px #FFF, 0 -2px 12px #222, 0 -5px 15px #666;
}

/* Begin Media Queries*/
@media screen and (max-width: 760px) {
  .section-header {
    font-size: 65px;
  }
  .direct-contact-container, .form-horizontal {
    float: none;
    margin: 10px auto;
  }  
  .direct-contact-container {
    margin-top: 60px;
    max-width: 300px;
  }    
  .social-media-list li {
    height: 60px;
    width: 60px;
    line-height: 60px;
  }
  .social-media-list li:after {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }

  .nav-title {
    font-size:10%;
  }
}


@media screen and (max-width: 569px) {
  .section-header{
    font-size: 50px;
  }
  .direct-contact-container, .form-wrapper {
    float: none;
    margin: 0 auto;
  }  
  .form-control, textarea {
    max-width: 340px;
    margin: 0 auto;
  }

  .name, .email, textarea {
    width: 280px;
  } 
  .direct-contact-container {
    margin-top: 60px;
    max-width: 280px;
  }  
  .social-media-list {
    left: 0;
  }
  .social-media-list li {
    height: 55px;
    width: 55px;
    line-height: 55px;
    font-size: 2rem;
  }
  .social-media-list li:after {
    width: 55px;
    height: 55px;
    line-height: 55px;
  }

  .nav-title {
    font-size:10%;
  }
}

@media screen and (max-width: 410px) {
  .send-button {
    width: 99%;
  }
  .texto-about {
    display: none;
  }
  h1.nav-title {
    font-size: 30px;
  }
  .divtexto {
    margin-bottom: 30px;
    margin-right: 5px;
    margin-left: 5px;
  }
  .h2title {
    font-size: 20px;
    margin-left: 5px;
    margin-right: 5px;
    border-top: 4px solid #F78181;
  }
  .borderimg1 {
    border: 1px solid transparent;
    padding: 1px;  
    left:50%;
    top:50%;
  }

  .gmail {
    margin-left: 15px;
    font-size: 15px;
  }
}